/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
/org3-artifacts/crypto-config/*

organizations/fabric-ca/ordererOrg/msp
organizations/fabric-ca/ordererOrg/*.pem
organizations/fabric-ca/ordererOrg/*Key
organizations/fabric-ca/ordererOrg/*.db

organizations/fabric-ca/org1/msp
organizations/fabric-ca/org1/*.pem
organizations/fabric-ca/org1/*Key
organizations/fabric-ca/org1/*.db

organizations/fabric-ca/org2/msp
organizations/fabric-ca/org2/*.pem
organizations/fabric-ca/org2/*Key
organizations/fabric-ca/org2/*.db

organizations/fabric-ca/org3/msp
organizations/fabric-ca/org3/*.pem
organizations/fabric-ca/org3/*Key
organizations/fabric-ca/org3/*.db

organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
